---
---
@import "{{ site.theme }}";

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e8e8e8;
  padding: 0;

  main & {
    margin: 2em 0;
  }
}


// override minima columns:

.footer-col-1 {
  width: calc(30% - (30px / 2));
}

.footer-col-2 {
  width: calc(70% - (30px / 2));

  > p {
    float: right;
  }
}
@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: calc(50% - (30px / 2));
  }
}
